<div>
    <h2>Restons en contact !</h2>
</div>
<!-- <div class="bloc1">
    <mat-form-field class="nom">
        <input matInput placeholder="Nom *" name="nom" id="nom" class="form-control" formControlName="nom">
    </mat-form-field>
    <mat-form-field class="prenom">
        <input matInput placeholder="Prénom *" name="prenom" id="prenom" class="form-control"
            formControlName="prenom">
    </mat-form-field>
    <mat-form-field class="adresse">
        <textarea matInput placeholder="Adresse *" name="adresse" id="adresse" class="form-control"
            formControlName="adresse"></textarea>
    </mat-form-field>
</div> -->