<div>
    <h2>< ! - - Parcours professionnel - - ></h2>
</div>

<mat-card class="blocFormation" id="laPoste">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title
            >Apprenti Manager Responsable Développement de Solutions
            BtoB</mat-card-title
        >
        <mat-card-subtitle>La Poste Solutions Business</mat-card-subtitle>
        <mat-card-subtitle>- Lille, Lens</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            Alternance durant 2 ans au sein de la Direction des Ventes
            Entreprises 59/62. <br />
            En charge du pilotage d'une équipe de responsables commerciaux et
            contribution au développement des ventes de services sur le marché
            du transport et celui de la transition numérique des
            entreprises.Conseiller de vente et employé qualifié libre service
        </p>
    </mat-card-content>
    <div class="dates">
            <mat-card-footer>
                2 ans
            </mat-card-footer>
            <mat-card-footer>
                De 2016 à 2018
            </mat-card-footer>
    </div>
</mat-card>

<mat-card class="blocFormation" id="auchan">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Employé polyvalent</mat-card-title>
        <mat-card-subtitle>Auchan - Englos</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            Divers CDD / postes dans divers rayons : Conseiller de vente en
            gros-éléctroménager, employé qualifié libre service en textile et
            hygiène.
        </p>
    </mat-card-content>
    <div class="dates">
            <mat-card-footer>
                6 mois
            </mat-card-footer>
            <mat-card-footer>
                De 2015 à 2016
            </mat-card-footer>
    </div>
</mat-card>

<mat-card class="blocFormation" id="quiksilver">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Vendeur, conseiller</mat-card-title>
        <mat-card-subtitle>Quiksiliver Roxy (Cariboo SARL)</mat-card-subtitle>
        <mat-card-subtitle>- Lille</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            En parallèle à mes études, stage, CDI puis CDI, initialement en tant
            que vendeur et conseiller technique en boutique puis en tant que
            Responsable Références Externes : achats et négociations avec
            fournisseurs, gestion des stocks, évènementiel, merchandising
            rayon...
        </p>
    </mat-card-content>
    <div class="dates">
        <mat-card-footer>
            14 mois
        </mat-card-footer>
        <mat-card-footer>
            De 2013 à 2014
        </mat-card-footer>
    </div>
</mat-card>
<mat-card class="blocFormation" id="lVuitton">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Vendeur, conseiller</mat-card-title>
        <mat-card-subtitle>Louis Vuitton - Lille</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            En parallèle à mes études, plusieurs stages et CDD en tant que
            vendeur et conseiller. Également en charge de la réserve
            (organisation et gestion des stocks emballages, SAV... ).
        </p>
    </mat-card-content>
    <div class="dates">
        <mat-card-footer>
            6 mois
        </mat-card-footer>
        <mat-card-footer>
            De 2011 à 2012
        </mat-card-footer>
    </div>
</mat-card>
