.sidenav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  // z-index: 1;
}
#barreTop{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  position: fixed;
}
#barreTop:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
/* #nom{
  display: flex;
  justify-content: flex-start;
}
#iconeMenu{
  display: flex;
  align-items: end
} */
.active {
  text-shadow: 0 0 20px #00fffc, 2px 3px 3px #141414, 0 0 100px #00d4d1;
  color: #00fffc;
  background-color: #262626;
}

main {
  margin-top: 57px; // header height
}
