<div class="componentTitle">
  <h2>< ! - - Mes services - - ></h2>
</div>

<div class="services">
  <div class="service">
    <div class="img">
      <mat-icon class="icons">code</mat-icon>
      <mat-icon class="icons">device_hub</mat-icon>
    </div>
    <div class="nomService">
      <h3>Création de sites web</h3>
    </div>
  </div>
  <div class="service">
    <div class="img">
        <mat-icon class="icons">devices_other</mat-icon>
        <mat-icon class="icons">laptop</mat-icon>
    </div>
    <div class="nomService">
      <h3>Développement d'applications web & web-mobile</h3>
    </div>
  </div>
  <div class="service">
    <div class="img">
      <mat-icon class="icons">share</mat-icon>
      <mat-icon class="icons">emoji_objects</mat-icon>
    </div>
    <div class="nomService">
      <h3>Conception & gestion de projets informatiques</h3>
    </div>
  </div>
</div>
