<h2>< ! - - informations personnelles - - ></h2>
<!-- <h3>---</h3>
 --><div id="infoPerso">
    <div class="infos">
        <mat-icon>mail</mat-icon>
        <h4>guillaume.tranain@gmail.com</h4>
    </div>

    <div class="infos">
        <mat-icon>phone</mat-icon>
        <h4>06 60 57 59 10</h4>
    </div>

    <div class="infos">
        <mat-icon>home</mat-icon>
        <div id="adresse">
        <h4>134 Rue Jules Delcenserie</h4>
        <h4>59700 Marcq-en-Baroeul</h4></div>
    </div>

    <div class="infos">
        <mat-icon>person</mat-icon>
        <h4>26 ans</h4>
        <h4>Permis de conduire & véhicule</h4>
    </div>

    <div class="logos">
        <a href="https://www.linkedin.com/in/guillaume-tranain/">
            <img id="linkedin" src="assets/icons/linkedin.svg" alt="Linkedin" />
        </a>
        <a href="http://www.viadeo.com/fr/profile/guillaume.tranain">
            <img id="viadeo" src="assets/icons/viadeo.svg" alt="Viadéo" />
        </a>
    </div>
</div>
