<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport position="end"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/accueil']">Accueil</a>
      <a mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/info-perso']">Informations personnelles</a>
      <a mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/a-propos']">À propos</a>
      <a mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/competences']">Compétences</a>
      <a mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/soft-skills']">Soft Skills & Langues</a>
      <a mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/formations']">Formations</a>
      <a mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/parcours-pro']">Parcours professionnel</a>
      <a mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/mes-services']">Mes services</a>
      <a mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/envoi-email']">Contact</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="white" id="barreTop">
        <span id="nom">[ ]  Guillaume TRANAIN</span>
      <button
        type="button" id="iconeMenu"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>


  </mat-sidenav-content>
</mat-sidenav-container>
