:host {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    height: calc(100% - 57px);
    width: 100%;
}
h2 {
    font-style: italic;
    color: grey;
    font-size: 20px;
}
.softCard {
    width: 275px;
    margin: 5px;
    background-color: black;
    border: 3px solid goldenrod;
    color: whitesmoke;
    border-radius: 10px;
}
mat-card {
    position: inherit;
}
mat-icon {
    color: goldenrod;
}
h3.mat-line {
    display: flex;
    margin-top: -0.5px;
/*     margin-bottom: -1px;
 */}
