<div class="componentTitle">
    <h2>< ! - - Soft - Skills - - ></h2>
</div>
<mat-card class="softCard">
    <mat-card-content>
        <mat-list-item>
            <h3 mat-line>
                <mat-icon>chevron_right</mat-icon>Polyvalence et adaptabilité
            </h3>
            <h3 mat-line><mat-icon>chevron_right</mat-icon>Empathie</h3>
            <h3 mat-line><mat-icon>chevron_right</mat-icon>Travail d'équipe</h3>
            <h3 mat-line><mat-icon>chevron_right</mat-icon>Curiosité</h3>
            <h3 mat-line>
                <mat-icon>chevron_right</mat-icon>Sincérité et honnêteté
            </h3>
        </mat-list-item>
    </mat-card-content>
</mat-card>
