:host{
    display : flex;
    flex-direction: column;
    justify-content: flex-start;  
    align-items: center;
    background-color: black;
    height: calc(100vh - 57px);
    width: 100%;
    font-size: 13px;
}