:host{
  display : flex;
  flex-direction: column;
  justify-content: flex-start;  
  align-items: center;
  background-color: black;
  height: calc(100% - 57px);
  width: 100%;
}
h2 {
  font-style : italic;
  color : grey;
  font-size: 20px;   
}
.blocFormation {
  max-width: 290px;
  margin: 5px;
  background-color: whitesmoke;
  border: 3px solid goldenrod;
}
mat-card {
  position: inherit;

}
.example-header-image {
  background-image: url('/assets/icons/1.svg');
  background-size: cover;
}

mat-card-title{
  color: goldenrod
}

mat-card-footer {
  display: flex;
  justify-content: flex-end;
  font-size: 13px;
  font-style: italic;
  margin-right: 5px;
}
p{
  font-size: 14px;
  text-align: justify;
}

