<div>
    <h2>< ! - - Formations - - ></h2>
</div>

<mat-card class="blocFormation" id="foreach">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Développeur Web et Web-mobile</mat-card-title>
    <mat-card-subtitle>ForEach' Academy - Lille</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
        Formation Locale d'Inclusion Professionnelle durant 5 mois et développement d'une application pour la mairie de Fasches-Thumesnil.
    </p>
  </mat-card-content>
  <mat-card-footer>
    De Mai à Octobre 2019
</mat-card-footer>
</mat-card>

<mat-card class="blocFormation" id="egc">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Master Manager en Ingénierie d'Affaires</mat-card-title>
      <mat-card-subtitle>Sup'de Vente - Paris / EGC - Lille</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
          Alternance durant 2 ans avec La Poste Solutions Business en B2B : achat, vente, négociation, intelligence économique, management...
     </p>
    </mat-card-content>
    <mat-card-footer>
      2016 à 2018
    </mat-card-footer>
  </mat-card>

  <mat-card class="blocFormation" id="flseg">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Licence Gestion</mat-card-title>
      <mat-card-subtitle>Faculté Libre de Sciences Économique et de Gestion - Institut Catholique de Lille</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Économie, gestion, marketing, GPEC, finance, langues, théologie...   
    </p>
    </mat-card-content>
    <mat-card-footer>
            2011 à 2014
        </mat-card-footer>
  </mat-card>

