<div>
    <h2>< ! - - À propos - - ></h2>
<!--     <h3>---</h3>
 --></div>

<div id="text">
<h4>//</h4>
<p>
    Actuellement en formation de développement web, je suis à la recherche d’un <span style="color: goldenrod;">stage</span> dans la région de Lille d’une durée de <span style="color: goldenrod;">3 mois</span> en front et back-end et <span style="color: goldenrod;">à partir du 13 octobre 2019</span> afin d’obtenir le titre de développeur web et web-mobile
</p>
</div>
  <button mat-raised-button id="cvButton">Télécharger mon CV</button>
