<div class="componentTitle">
    <h2>< ! - - Compétences - - ></h2>
</div>

<mat-list id="competencesBloc">
    <h3 mat-subheader>Langages</h3>
    <mat-list-item>
        <h4 mat-line><mat-icon>chevron_right</mat-icon>Java</h4>
        <h4 mat-line><mat-icon>chevron_right</mat-icon>JavaScript</h4>
        <h4 mat-line><mat-icon>chevron_right</mat-icon>TypeScript</h4>
        <h4 mat-line><mat-icon>chevron_right</mat-icon>J2EE</h4>
        <h4 mat-line><mat-icon>chevron_right</mat-icon>HTML, CSS</h4>
    </mat-list-item>
    <h3 mat-subheader>Frameworks</h3>
    <mat-list-item>
        <h4 mat-line><mat-icon>chevron_right</mat-icon>Angular</h4>
        <h4 mat-line><mat-icon>chevron_right</mat-icon>SpringBoot</h4>
    </mat-list-item>
    <h3 mat-subheader>BDD</h3>
    <mat-list-item>
        <h4 mat-line><mat-icon>chevron_right</mat-icon>PostgreSQL</h4>
    </mat-list-item>

    <h3 mat-subheader>IDE</h3>
    <mat-list-item>
        <h4 mat-line><mat-icon>chevron_right</mat-icon>IntelliJ IDEA</h4>
        <h4 mat-line><mat-icon>chevron_right</mat-icon>Visual Studio Code</h4>
    </mat-list-item>

    <h3 mat-subheader>Autres</h3>
    <mat-list-item>
        <h4 mat-line><mat-icon>chevron_right</mat-icon>Git :</h4>
    </mat-list-item>
</mat-list>
