:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    height: calc(100% - 57px);
    width: 100%;
}
h2 {
    font-style: italic;
    color: grey;
    font-size: 20px;
}
h3.mat-subheader {
    color: goldenrod;
    font-family: LemonMilk;
    font-size: 20px;
}
h4 {
    font-style: italic;
    color: whitesmoke;
    font-family: LemonMilk;
}
#competencesBloc {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
mat-icon {
    color: goldenrod;
}
