<div class="componentTitle">
    <h2>< ! - - Langues - - ></h2>
</div>
<mat-card class="languesCard">
    <mat-card-content>
        <mat-list-item>
            <h3 mat-line class="langues">
                <mat-icon>chevron_right </mat-icon>
                Anglais
            </h3>
            <p mat-line>TOEIC 930/990 - Niveau C1</p>
            <p mat-line>Working Holiday Visa en Australie (2015)</p>
        </mat-list-item>
        <mat-list-item>
            <h3 mat-line class="langues">
                <mat-icon>chevron_right </mat-icon>
                Espagnol
            </h3>
            <p mat-line>Niveau universitaire</p>
        </mat-list-item>
    </mat-card-content>
</mat-card>
