<div class="componentTitle">
    <h2>< ! - - Langues - - ></h2>
</div>
<mat-card class="languesCard">
    <mat-card-content>
        <mat-list-item>
            <h3 mat-line class="langues">
                <mat-icon>chevron_right </mat-icon>
                Anglais<span style="color: black;">...</span><span class="lvlIndicator">●●●●○</span>
            </h3>

            <p mat-line class="details">TOEIC 930/990 - Niveau C1</p>
            <p mat-line class="details">
                Working Holiday Visa en Australie (2015)
            </p>
        </mat-list-item>
        <mat-list-item>
            <h3 mat-line class="langues">
                <mat-icon>chevron_right </mat-icon>
                Espagnol  <span class="lvlIndicator">●●○○○</span>
            </h3>
            <!--             <mat-slider></mat-slider> -->
            <p mat-line class="details">Niveau courant / universitaire</p>
        </mat-list-item>
    </mat-card-content>
</mat-card>
