<div class="componentTitle">
    <h2>< ! - - Compétences - - ></h2>
<!--     <h3>/** à l'issue de la formation **/</h3> -->
</div>

<div class="listesCompetences">
    <div>
        <ul>Langages :</ul>
        <li>Java</li>
        <li>JS, TS</li>    
        <li>J2EE</li>
        <li>HTML, CSS</li>
    </div>
    <div>
        <ul>Frameworks :</ul>
        <li>Angular</li>    
        <li>SpringBoot</li>
    </div>
    <div>
        <ul>CMS :</ul>
        <li>Ghost</li>
    </div>
    <div>
        <ul>BDD :</ul>
        <li>PostgreSQL</li>
    </div>
    <div>
        <ul>IDE :</ul>
        <li>Intelli IDEA, VS Code</li>
    </div>
    <div>
        <ul>Sytèmes :</ul>
        <li>iOs, MacOs</li>
        <li>Linux, Android</li>    
        <li>Windows</li>
    </div>
    <div>
        <ul>Autre :</ul>
        <li>Git</li>
    </div>
</div>